/*-- scss:defaults --*/
// https://quarto.org/docs/output-formats/html-themes-more.html#bootstrap-bootswatch-layering

// You can leave off the _ when importing a partial
// Order does matter! - SASS compiler runs top to bottom
// e.g. if a file depends on a value declared in a another file,
// it must be BELOW the file it depends on

// colors
@import "base/colors-light";
@import "base/media-queries";
@import "base/typography";

// variables & functions
@import "abstracts/variables";

// base & layout
@import "layout/footer";
@import "layout/grid";
@import "layout/header";

// components (button, card, navbar)
@import "components/buttons";
@import "components/tags";
@import "components/cards";
@import "components/callouts";

// styles that can be re-used throughout the stylesheet (margin, padding, opacity)
@import "abstracts/mixins";

// page-specific components 
@import "pages/about";
@import "pages/blog";
@import "pages/portfolio";


//Links
a {
    transition-duration: 350ms;
}


// Images
img {
    border-radius: $base-border-radius !important;
}

// Title
.title {
    padding-bottom: 1em;

    @media(max-width: 991.98px) {
        padding-bottom: 0;
    }
}


