/*-- scss:defaults --*/
// https://quarto.org/docs/output-formats/html-themes-more.html#bootstrap-bootswatch-layering

// You can leave off the _ when importing a partial
// Order does matter! - SASS compiler runs top to bottom
// e.g. if a file depends on a value declared in a another file,
// it must be BELOW the file it depends on

// colors
@import "./base/colors-light";
@import "./base/media-queries";
@import "./base/typography";

// variables & functions
@import "abstracts/variables";

// base & layout
@import "./layout/footer";
@import "./layout/grid";
@import "./layout/header";

// components (button, card, navbar)
@import "./components/buttons";

// styles that can be re-used throughout the stylesheet (margin, padding, opacity)
@import "./abstracts/mixins";

// page-specific components 
@import "./pages/about";

// Typography
h {
    font-family: $headings-font-family;
    color: text-background;
}


p {
    color: $text-background;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-normal;
    letter-spacing: 0.05em;
    //font-size: clamp($font-size-base * 1.6, 6.944vw + -3.306rem, $font-size-base * 3.2) !important;
    // font-size: clamp(var(--min-font-size),calc(35% + 1vw),var(--max-font-size));
}

.bolder {
    font-weight: $font-weight-semibold;
}

.lighter {
    color: $grey-600;
}

.text-large p {
    font-size: $font-size-large !important;
}

.text-medium p {
    font-size: $font-size-medium !important;
}

//Links
a {
    transition-duration: 350ms;
}


// Images
img {
    border-radius: $base-border-radius !important;
}

// Title
.title {
    padding-bottom: 1em;
}


  /**/ /**/ /**/ /**/ /**/