/*-- scss:defaults --*/

// we do not need to add the file type as they are both SCSS files
@import "./base/colors";
@import "./base/typography";
@import "./abstracts/variables";

h {
    font-family: $headings-font-family;
}

p {
    color: $text-secondary-color;
    font-size: $p-font-size;
    font-family: $font-family-sans-serif;
}

.border {
    background-color: $default-box-bg;
    width: 300px;
    height: 300px;
    border-radius: $default-border-radius;
}


/**/ /**/