/*-- scss:rules --*/

/* hero area (text + img) */

// removes the default padding in the top 
// of the solana theme 
.quarto-about-solana.column-page {
    padding-top: 0px !important;
}

.about-entity {
    gap: 0px 150px;
    align-items: center !important;
    padding-top: 0px !important;

    // moves items to the start (=top) of the container on large screens with 2 columns
    // so the heading "about" is at the top
    // on smaller screens (1 column), solana's default CSS aligns items centered in the container
    @media screen and (min-width: 992px) {
        align-items: flex-start !important;
    }
}


/* space between first and second text area */
#text-about-1 {
    margin-bottom: 6em;
}

/* space between heading and the content */
#text-about-2 h2 {
    margin-bottom: 1em;
}

#workedu, #skillslang {
    padding-bottom: 2em;
    column-gap: 3em !important;
}


/* contact area */
#about-contact {
    margin-top: 4em;
    background-color: $surface;
    border: 8px solid $champagne-100 !important;
    //border: 1px solid $black;
    padding: 2em;
    //border-radius: $base-border-radius;

    h2 {
        color: $black !important;
        margin-top: 0;
    }

    p {
        margin-bottom: 0;
    }

    // move icons down to align with text
    #contact-certificate {
        position: relative !important;
        top: 0.1em !important;
    }

    #contact-linkedin {
        position: relative !important;
        top: 0.4em !important;
    }

    #contact-github {
        position: relative !important;
        top: 0.2em !important;
    }
}


// adds a whitespace of 50px in the bottom of the page
// so the 'back to top' button won't cover up content
.filler {
    padding: 4em;
}


//  .about-entity .about-link {
//    padding: 0.25em 0.25em !important;
//    border: none !important;
//  }
//
// social media icons
//.bi::before {
//    font-size: $font-size-base * 2.8;
//  }

