/*-- scss:rules --*/

// Targets article containers
.quarto-post {
    display: flex;
    gap: 2em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    margin-bottom: 0em !important;
    border-bottom: 1px solid !important;

    &:hover {
        h3 {
            text-decoration: underline $secondary;        }
    }
}