/*-- scss:rules --*/

#content-portfolio {
    margin-bottom: 4em;
}

/* Clusterportal */

.clusterportal h4 {
    margin-bottom: 0.4em !important;
}

.clusterportal h4 + p {
    margin-bottom: 2.2em !important;
}

#team, #duration, #process {
    margin-bottom: 0.8em !important;
}