/*-- scss:rules --*/

.nav-footer {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    padding-bottom: 1.5rem !important;
    border-top: 1px solid !important;
    background-color: $footer-bg !important;
    color: $footer-fg !important;
}