/*-- scss:defaults --*/


//$footer-bg:
$footer-fg: grey-100;
$footer-bg: rgb(221, 221, 221);


/*-- scss:rules --*/

.nav-footer {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    padding-bottom: 1.5rem !important;
    border-top: 1px solid;
    background-color: $footer-bg;
}