/*-- scss:defaults --*/

//$footer-bg: $grey200;
//$footer-fg: $text-background;


/*-- scss:rules --*/

.nav-footer {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    padding-bottom: 1.5rem !important;
    border-top: 1px solid !important;
    background-color: $grey-200 !important;
    color: $text-background !important;
}