/*-- scss:defaults --*/

// https://1linelayouts.glitch.me/ -> RAM (Repeat, Auto, Minmax)
.parent.col-50-50 {
    display: grid;
    column-gap: 4em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.parent.col-15-85 {
    display: grid;
    grid-template-columns: 15% 85%;
    
    @media screen and (max-width: 767px) {
        grid-template-columns: 100%;
    }
}


//alternative 2
//https://1linelayouts.glitch.me/

/*

#parent-acanthis {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4em;
}

.child-acanthis {
    flex: 1 1 250px !important;
}

*/