/*-- scss:defaults --*/

// https://1linelayouts.glitch.me/ -> RAM (Repeat, Auto, Minmax)
.parent.col-50-50 {
    display: grid;
    column-gap: 4em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.parent.col-15-85 {
    display: grid;
    grid-template-columns: 15% 85%;
    
    @media screen and (max-width: 767px) {
        grid-template-columns: 100%;
    }
}


//alternative 2
//https://1linelayouts.glitch.me/

/*

#parent-acanthis {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4em;
}

.child-acanthis {
    flex: 1 1 250px !important;
}

*/


/* Sidebar */

// toc title
#toc-title {
    font-size: $font-size-base * 1.4 !important;
    text-transform: uppercase !important;
    font-weight: $font-weight-semibold !important;
}

.sidebar {
    a {
        font-size: $font-size-base * 1.4 !important;
        line-height: 1.2em !important;
        padding-bottom: 0.5em !important;
    }

    // disables toc on smaller devices
    // Large devices (desktops, less than 1200px)
    @media screen and (max-width: 1199.98px) {
        display: none !important;
    }
}

// sets non-active headings to dark grey
.nav-link {
    color: $grey-600 !important;
}

// hides the minimized version of the toc
// which shows if toc is hidden by other elements
#quarto-toc-toggle {
    display: none !important;
}