/*-- scss:rules --*/

// Navbar

// header
.navbar-expand-lg {
    padding-top: 1.5rem !important;
    padding-right: 4rem !important;
    padding-left: 4rem !important;
}

.navbar-nav {
    gap: 24px !important;
}

// search icon padding left
.navbar #quarto-search {
    margin-left: 1rem !important;
}
  
// title/logo
.navbar-title {
  font-size: $font-size-body !important;
  font-weight: $font-weight-normal !important;
  color: $navbar-fg !important;
  text-transform: uppercase !important;
  letter-spacing: $spacing-wide !important;

  &:hover {
    color: $link-hover-color !important;
    transition-duration: $link-transition-duration !important;
  }
}

// links
.navbar-nav .nav-link {
    font-size: $font-size-body !important;
    color: $navbar-fg !important;
    text-transform: uppercase !important;
    border-bottom: 2px solid transparent;    

    &:hover {
      border-bottom: 2px solid $secondary !important;
    }
}


