/*-- scss:defaults --*/


// Navigation
$navbar-bg: $background;
$navbar-fg: $text-background;
$navbar-hl: red;

/*-- scss:rules --*/

// Navbar

// header
.navbar {
    background: transparent;
}

.navbar-expand-lg {
    padding-top: 1.5rem !important;
    padding-right: 4rem !important;
    padding-left: 4rem !important;
}

.navbar-nav {
    gap: 24px !important;
}

// search icon padding left
.navbar #quarto-search {
    margin-left: 1rem !important;
}
  
// title
.navbar-title {
  //font-size: 0.75em;
  //font-weight: 500;
  color: $text-background;
  text-transform: uppercase;
  //letter-spacing: .1em;

  &:hover {
    color: $secondary;
    transition-duration: 350ms;
  }
}

// links
.navbar-nav .nav-link {
    color: $text-background !important;
    text-transform: uppercase;
    //letter-spacing: .1em; 
    border-bottom: 2px solid transparent;    

    &:hover {
      border-bottom: 2px solid $secondary !important;
    }
}


/**/



