/*-- scss:rules --*/

// Buttons

// large buttons
.btn {
    border-color: $text-background !important;
    border-radius: $button-border-radius !important;
    color: $text-background !important;
    font-size: $font-size-medium !important;
    padding: 1.25rem 2.5rem !important;
    text-transform: uppercase;
    letter-spacing: $spacing-standard;
    font-weight: $font-weight-semibold !important;

    &:hover {
        background-color: $surface !important;
        color: $text-background !important;
    }
}

// buttons on the about page
.button-about {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 0px 1em !important;
    align-items: center !important;
    margin-top: 2rem !important;

    // `lg` applies to medium devices (tablets, less than 992px)
    @media(max-width: 991.98px) {
        justify-content: center !important;
    }
}

.button-about .btn {
    font-size: 14px !important;
    padding: 1rem 1.4rem !important;
}


// back-to-top button
#quarto-back-to-top {
    // text
    font-size: $font-size-base * 1.0 !important; /* =10px */
    color: $text-background !important;
    font-family: $font-family-sans-serif !important;
    font-weight: $font-weight-semibold !important;
    letter-spacing: $spacing-wide !important;
    text-transform: uppercase !important;

    // button
    background-color: $white !important;
    border-radius: $button-border-radius !important;
    border: 1px solid $text-background !important;
    box-shadow: none !important;
    //box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18) !important;
    padding: 0.6em 1.0em !important;

    &:hover {
        background-color: $surface !important;
        color: $text-background !important;
    }
}

.bi-arrow-up::before {
    content: "\2191" !important;
    font-size: $font-size-base * 1.6 !important; /* =16px */
    color: $text-background !important;
    font-family: $font-family-sans-serif !important;
    font-weight: $font-weight-semibold !important;
    letter-spacing: $spacing-wide !important;
}

