/*-- scss:rules --*/

// Buttons

// large buttons
.btn {
    border-radius: $base-border-radius;
    font-size: $font-size-medium !important;
    padding: 1.25rem 2.5rem !important;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 530 !important;

    &:hover {
        background-color: $button-hover-bg !important;
        color: $primary !important;
    }
}