/*-- scss:defaults --*/

// Formatting
$callout-border-width: 0px !default;
$callout-border-scale: 0% !default;
$callout-icon-scale: 0% !default;

// puts margin between the callout and content above/below
$callout-margin-top: 1.25rem !default;
$callout-margin-bottom: 1.25rem !default;


/*-- scss:rules --*/


/* Callout caution */
.callout-style-default {
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
}

.callout-caution {
    background-color: $green-50 !important;
    border-left-color: $red !important;
    margin-top: 1.5em !important;
    margin-bottom: 1.5em !important;
    border: solid 1px $green-400 !important;
}

.callout-header {
    font-size: 2em !important;
    font-family: $headings-font-family !important;
    font-weight: $headings-font-weight-normal !important;
    opacity: 100% !important;
    background-color: $green-200 !important;
    padding-left: 2em !important;
    padding-right: 1em !important;
}

// dropdown toggle
.callout-toggle::before {
    width: 2rem !important;
    height: 2rem !important;
    background-size: 2rem 2rem !important;

}

// drop-down icon when closed 
.callout .callout-header[aria-expanded=false] .callout-toggle::before {
    transform: none !important;
}

// drop-up icon when expanded
.callout .callout-header[aria-expanded=true] .callout-toggle::before {
    transform: rotate(-180deg) !important;
}

.callout-body {
    padding-left: 7em !important;
    padding-right: 7em !important;
    padding-top: 2em !important;
    padding-bottom: 4em !important;
}

// `md` applies to small devices (landscape phones, less than 768px)
@media screen and (max-width: 767.98px) {
    
    /* decrease paddding */
    .callout-header {
        padding-left: 0.25em !important;
        padding-right: 0.5em !important;
        border-width: 0px !important;
    }

    .callout-body {
      padding-left: 1em !important;
      padding-right: 1em !important;
    }
}


/* Lesson learned */
.lessonlearned {
    border: 1px solid $black;
    padding: 2em;
    margin-bottom: 4em;

    h5 {
        padding-bottom: 0.5em;
    }

    // `md` applies to small devices (landscape phones, less than 768px)
    @media screen and (max-width: 767.98px) {
        padding: 1em;
    }
}





/* Alternative to using Quarto's callout blocks

HTML
::: {.tldr #tldr-agency .column-body-outset}
:::: {.tldr-text}
## TLDR {{< iconify fa-solid certificate size=0.75em >}}
#### Exploring and rethinking constant engagement on Instagram 

In the constant competition of vying for humans’
attention, online platforms and digital technolo-
gies commonly design their interfaces in a way
that undermines user’s self-control. This loss of
agency that users experience over their technol-
ogy use comes with detrimental effects on their
well-being. Short-term effects include feelings of
::::
:::


CSS
.tldr {
    background-color: $champagne-100;
}

.tldr-text {
    margin: 4em;
}

*/