/*-- scss:rules --*/

/* Portfolio/Blog cards */
.card {
  background-color: $white !important;
  border: 1px solid $black !important;
  border-radius: $base-border-radius !important;
  // Hover effect
  transition: transform 0.2s ease;

  &:hover {
    background-color: $grey-100 !important;
    // Hover effect
    transform: scale(1.025);
    //box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border: solid 1px $black !important;
  }
}

// targets card img
.card-img-top {
  padding: 1.2em !important;
}

// targets text on card
.card-body {
  padding: 1.2em !important;
}

// targets title on card
.card-title.listing-title {
  font-family: Neue Montreal Mono !important;
  font-size: $font-size-base * 2.0 !important; /* =20px */
  font-weight: $nmmono-regular !important;
  line-height: 1.5 !important;
  padding-bottom: $h5-default-pb !important;
}


/* Emphasize cards */
.emphasize-card {
  background-color: $grey-100 !important;
  border-radius: $base-border-radius !important;
  padding: $card-default-padding !important;

  h5 {
      padding-bottom: $h5-default-pb !important;
  }
}

