/*-- scss:rules --*/

.card {
  background-color: $grey-200 !important;
  border: 0px solid !important;
  border-radius: $base-border-radius !important;
  // Hover effect
  transition: transform 0.2s ease;

  &:hover {
    background-color: $grey-100 !important;
    // Hover effect
    transform: scale(1.025);
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  }
}

// targets card img
.card-img-top {
  padding: 1.2em !important;
}

// targets text on card
.card-body {
  padding: 1.2em !important;
}

// targets title on card
.card-title {
  padding-bottom: 0.3em !important;
}
