/*-- scss:rules --*/

/* contact area */
#about-contact {
    margin-top: 4em;
    background-color: $surface;
    border: 8px solid $champagne-100 !important;
    //border: 1px solid $black;
    padding: $card-default-padding;
    //border-radius: $base-border-radius;

    h2 {
        color: $black !important;
        margin-top: 0;
    }

    p {
        margin-bottom: 0;
    }

    // move icons down to align with text
    #contact-certificate {
        position: relative !important;
        top: 0.1em !important;
    }

    #contact-linkedin {
        position: relative !important;
        top: 0.4em !important;
    }

    #contact-github {
        position: relative !important;
        top: 0.2em !important;
    }
}