/*-- scss:defaults --*/


// Base colors

$text-primary-color: red;

$text-secondary-color: rgb(77, 77, 127);

$default-box-bg: purple;

//$pink: #D4006A;
//$blue: #006AD4;
//$green: #00D46A;
//$cyan: #00D4D4;
//$red: #D40000;
//$indigo: #0000D4;
//$purple: #6A00D4;
//$orange: #D46A00;
//$yellow: #D4D400;
//$green-bright: #6AD400;
//
//$primary:   $pink;
//$secondary: $gray-500;
//$success:   $green;
//$info:      $cyan;
//$warning:   $orange;
//$danger:    $red;
//$light:     $gray-100;
//$dark:      $gray-900;

