/*-- scss:defaults --*/

// Base colors

//$black: #091A19;
$black: #000000;
$white: #FFFFFF;

$purple: #745BE6; /* BASE */
$red: #B00020;

/* Material Design */
$champagne-50: #F8EEE8;
$champagne-100: #E6D4CD; /* BASE */
$champagne-200: #d1b8af;

/* https://www.color-hex.com/color/1e5550 */
$green-500: #1E5550; /* BASE */
$green-400: #4a7672;
$green-300: #789996;
$green-200: #a5bbb9;
$green-100: #d2dddc;
$green-50: #e8eeed;

/* 2014 Material Design color palettes */
$grey-50: #FAFAFA;
$grey-100:#F5F5F5;
$grey-200:#EEEEEE;
$grey-300: #E0E0E0;
$grey-400:#BDBDBD;
$grey-500: #9E9E9E;
$grey-600:#757575;
$grey-700:#616161;
$grey-800:#424242;
$grey-900: #212121;