/*-- scss:defaults --*/

// Fonts
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-family-sans-serif: "Neue Montreal", Arial, Helvetica, sans-serif;
$font-family-monospace: "Dark Mono", "Fira Mono", monospace;
$headings-font-family: "PPPangaia-Medium", serif;
//$font-size-sm:
$font-size-large: $font-size-base * 2.8;


/*-- scss:rules --*/

/* pangaia-bold */
@font-face {
    font-family: 'PPPangaia-Medium';
    font-style: normal;
    font-weight: 475;
    src: local(''),
         url('./assets/fonts/PPPangaia-Medium.woff') format('woff'),
         url('./assets/fonts/PPPangaia-Medium.woff2') format('woff2'),
         url('./assets/fonts/PPPangaia-Medium.otf') format('otf');
  }
  
  /* pangaia-medium-italic */
  @font-face {
    font-family: 'PPPangaia-MediumItalic';
    font-style: italic;
    font-weight: 475;
    src: local(''),
         url('./assets/fonts/PPPangaia-MediumItalic.woff') format('woff'),
         url('./assets/fonts/PPPangaia-MediumItalic.woff2') format('woff2'),
         url('./assets/fonts/PPPangaia-MediumItalic.otf') format('otf');
  }
  
  /* neue-montreal-book */
  @font-face {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./assets/fonts/PPNeueMontreal-Book.woff') format('woff'),
         url('./assets/fonts/PPNeueMontreal-Book.woff2') format('woff2'),
         url('./assets/fonts/PPNeueMontreal-Book.otf') format('otf');
  }
  
  /* neue-montreal-book */
  @font-face {
    font-family: 'Neue Montreal';
    font-style: italic;
    font-weight: 450;
    src: local(''),
         url('./assets/fonts/PPNeueMontreal-Italic.woff') format('woff'),
         url('./assets/fonts/PPNeueMontreal-Italic.woff2') format('woff2'),
         url('./assets/fonts/PPNeueMontreal-Italic.otf') format('otf');
  }

 
// Font sizes

// 62.5% Font Size Trick
html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5% !important; /* =10px */
} 

body {
  /* scaling  back up to an effective font size of 16px */
  font-size: 1.6rem !important;
}



/*
Define any additional font features if using a variable font:

code {
  font-feature-settings: 'dlig' 0, 'liga' 0, 'calt' 1, 'zero' 1, 'ss02' 0;
}
*/


// 62.5% Font Size Trick

h1 /*code*/ {
  font-size: $font-size-base * 6.0 !important; /* =60px */
}
   
h2 {
  font-size: $font-size-base * 3.2 !important; /* =32px */
  border-bottom: none !important;
  padding-bottom: unset !important;
}

h3 {
  font-size: $font-size-base * 2.8 !important; /* =28px */
}

h4 {
  font-size: $font-size-base * 2.4 !important; /* =24px */
}

h5 {
  font-size: $font-size-base * 2.0 !important; /* =20px */
}

h6 {
  font-size: $font-size-base * 1.6 !important; /* =16px */
}

p {
  font-size: $font-size-base * 1.6 !important; /* =16px */
} 
