/*-- scss:defaults --*/

// Fonts
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-family-sans-serif: "Neue Montreal", Arial, Helvetica, sans-serif;
$font-family-monospace: "Dark Mono", "Fira Mono", monospace;
$headings-font-family: "PPPangaia-Medium", serif;

$spacing-standard: 0.05em;
$spacing-wide: 0.1em;

$font-weight-normal: 400;
$font-weight-semibold: 530;

$font-size-large: $font-size-base * 2.8;
$font-size-medium: $font-size-base * 2.0;
$font-size-body: $font-size-base * 1.6;
$font-size-small: $font-size-base * 1.4;


/*-- scss:rules --*/

/* pangaia-bold */
@font-face {
    font-family: 'PPPangaia-Medium';
    font-style: normal;
    font-weight: 475;
    src: local(''),
         url('./assets/fonts/PPPangaia-Medium.woff') format('woff'),
         url('./assets/fonts/PPPangaia-Medium.woff2') format('woff2'),
         url('./assets/fonts/PPPangaia-Medium.otf') format('otf');
  }
  
  /* pangaia-medium-italic */
  @font-face {
    font-family: 'PPPangaia-MediumItalic';
    font-style: italic;
    font-weight: 475;
    src: local(''),
         url('./assets/fonts/PPPangaia-MediumItalic.woff') format('woff'),
         url('./assets/fonts/PPPangaia-MediumItalic.woff2') format('woff2'),
         url('./assets/fonts/PPPangaia-MediumItalic.otf') format('otf');
  }
  
  /* neue-montreal-book */
  @font-face {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./assets/fonts/PPNeueMontreal-Book.woff') format('woff'),
         url('./assets/fonts/PPNeueMontreal-Book.woff2') format('woff2'),
         url('./assets/fonts/PPNeueMontreal-Book.otf') format('otf');
  }
  
  /* neue-montreal-regular-italic */
  @font-face {
    font-family: 'Neue Montreal';
    font-style: italic;
    font-weight: 450;
    src: local(''),
         url('./assets/fonts/PPNeueMontreal-Italic.woff') format('woff'),
         url('./assets/fonts/PPNeueMontreal-Italic.woff2') format('woff2'),
         url('./assets/fonts/PPNeueMontreal-Italic.otf') format('otf');
  }

  /* neue-montreal-medium */
  @font-face {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 530;
    src: local(''),
         url('./assets/fonts/PPNeueMontreal-Medium.woff') format('woff'),
         url('./assets/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
         url('./assets/fonts/PPNeueMontreal-Medium.otf') format('otf');
  }


// 62.5% Font Size Trick
html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5% !important; /* =10px */
} 

body {
  /* scaling  back up to an effective font size of 16px */
  font-size: 1.6rem !important;
}


// Headings

h1 /*code*/ {
  font-size: $font-size-base * 6.0 !important; /* =60px */
}
   
h2 {
  font-size: $font-size-base * 3.2 !important; /* =32px */
  border-bottom: none !important;
  padding-bottom: unset !important;
}

h3 {
  font-size: $font-size-base * 2.8 !important; /* =28px */
}

h4 {
  font-size: $font-size-base * 2.4 !important; /* =24px */
}

h5 {
  font-size: $font-size-base * 2.2 !important; /* =20px */
}

h6 {
  font-size: $font-size-body !important; /* =16px */
  font-family: $font-family-sans-serif !important;
  text-transform: uppercase !important;
  font-weight: $font-weight-semibold !important;
  letter-spacing: $spacing-standard !important;

}


// Body text 
p {
  font-size: $font-size-body !important; /* =16px */
  color: $text-background !important;
  font-family: $font-family-sans-serif !important;
  font-weight: $font-weight-normal !important;
  letter-spacing: $spacing-standard !important;
  //font-size: clamp($font-size-base * 1.6, 6.944vw + -3.306rem, $font-size-base * 3.2) !important;
  // font-size: clamp(var(--min-font-size),calc(35% + 1vw),var(--max-font-size));
}


.bolder {
  font-weight: $font-weight-semibold !important;
}

.lighter {
  color: $grey-600 !important;
}

.text-large {
  font-size: $font-size-large !important;
}

.text-large p {
  font-size: $font-size-large !important;
}

.text-medium p {
  font-size: $font-size-medium !important;
}

// highlighting words in purple
.highlight {
  background-color: $secondary;
  color: $text-secondary;
  padding: 2px 4px;
}

strong {
  font-weight: $font-weight-semibold !important;
}

// Figure caption
figcaption {
  font-size: $font-size-base * 1.4 !important; /* = 14 px */
  color: $text-background !important;
  font-family: $font-family-sans-serif !important;
  font-weight: $font-weight-normal !important;
  letter-spacing: $spacing-standard !important;
}

// Unordered list
ul {
  // replace custom bullet point
  list-style-type: "\203A";
}

li {
  font-size: $font-size-body !important; /* =16px */
  color: $text-background !important;
  font-family: $font-family-sans-serif !important;
  font-weight: $font-weight-normal !important;
  letter-spacing: $spacing-standard !important;
  // space between bullet point and text
  padding-left: 8px;
}

// Blockquotes
blockquote {
  border-color: $secondary !important;
  margin-bottom: 2rem !important;
}