/*-- scss:defaults --*/

// Links
//$body-bg: $blue;
//$body-color: $grey;
$link-color: $text-background;
$link-hover-color: $secondary;
//$input-bg: $grey;
//$popover-bg: $grey;


// Borders
$default-border-radius: 12px;
$card-border-radius: 8px;
$button-border-radius: 9999px;
$base-border-radius: 2rem;


// Layout
// Padding that should appear before the main content area (including the sidebar, content, and TOC
// §content-padding-top: 



// Table of Contents
// $toc-color:
// §toc-active-border:
// $toc-inactive-border:
// $toc-font-size: 30px





// $sidebar-bg:
// §sidebar-fg:
// §sidebar-hl:




// Code blocks

// Code copy

// Inline code

// Callouts