/*-- scss:defaults --*/

// Links
//$body-bg: $blue;
//$body-color: $grey;
$link-color: $text-background;
$link-hover-color: $secondary;
$link-transition-duration: 350ms;
//$input-bg: $grey;
//$popover-bg: $grey;


// Borders
$default-border-radius: 12px;
$card-border-radius: 8px;
$button-border-radius: 9999px;
$base-border-radius: 2rem;


// Layout
// Padding that should appear before the main content area (including the sidebar, content, and TOC
// §content-padding-top: 



// Table of Contents
// $toc-color:
// §toc-active-border:
// $toc-inactive-border:
// $toc-font-size: 30px


// Navbar
$navbar-bg: $background !default;
$navbar-fg: $text-background !default;

// Sidebar
$sidebar-bg: $grey-200 !default;
$sidebar-fg: $text-background !default;


// Footer
$footer-bg: $grey-200 !default;
$footer-fg: $text-background !default;


// Padding
$h5-default-pb: 0.3em !default;
$card-default-padding: 2em !default;

// Code blocks

// Code copy

// Inline code

// Callouts